html, body {
    font-size: 40px;      
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
	text-align: center;
	font-family: Helvetica, sans-serif;
	background-color: #69c4db;
}

#preloadedImages {
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url(images/playing1.gif);
    background-image: url(images/playing2.gif);
    background-image: url(images/playing3.gif);
    background-image: url(images/playing4.gif);
    background-image: url(images/playing5.gif);
    background-image: url(images/playing6.gif);
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	line-height: 0;
}

h2 {
	font-size: 40px;
}

h1 {
	font-size: 60px;
}



#search-term {
	margin: 0;
	width: 90%;
}

#start-screen {
	width: 100%;
	height: 100%;  /* 100% of viewport height */
	background-color: #69c4db;
	position: absolute;
	z-index: 100;
	font-family: 'Poiret One', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
    margin: 0;
    left: 0;
    top: 0;
}

#start-text {
	margin-top: 80px;
}

#subtitle {
	margin-top: 5px;
	font-size: 22px;
	z-index: 0;
}

.row {
	margin: 15px 0;
}


#settings-area {
	min-height: 200px;
	width: 100%;
	display: flex;
 	justify-content: center;
}

.settings-box {
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #2d607d;
	text-align: left;
	font-size: 16px;
	margin: 0 10px;
	border: solid white 3px;
	border-radius: 10px;
	background-color: #9eefff;
	position: relative;
}



#paste-div {
	display: none;
}

#challenges-container {
	display: none;
	width: 100%;
}

.challenge {
	max-width: 150px;
	height: 100px;
	border: solid #69c4db 2px;
	border-radius: 30px;
	background-color: white;
	display: inline-block;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	word-wrap: normal;
	margin: 0 2px;
}
.challenge:hover {
	cursor: pointer;
	background-color: #69c4db;
	color: white;
}

#language-settings-box {
	opacity: 100%;
}

#paste-input {
	height: 200px;
	width: 60vw;
}


#instructions {
	font-size: 24px;
	font-family: Helvetica, sans-serif;
}

#birdpic-desktop, #birdpic-mobile {
	background-image: url("images/birds.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: -100px;
	right: 75px;
	height: 100px;
	width: 100px;
}

#birdpic-mobile {
	display: none;
	height: 70px;
	width: 70px;
	top: -70px;
	right: 10px;
	z-index: -1;
	
}

#answerbox {
	width: 100%;
	height: 300px;
	background-color: white;
	font-size: 32px;
	color: #4286f4;
	text-align: center;
	position: relative;
}

#message {
	color: red;
	background-color: #fcf403;
	height: 80px;
	line-height: 80px;
	font-size: 40px;
	width: 200px;
	border: solid red 3px;
	border-radius: 50%;
}

.image-container{
	display: inline-block;
}

.victory-image-container{
	width: 100%;
	text-align: center;
}

.victory-image-div {
	height: 300px;
	width: 300px;
	display: inline-block;
}

.float-right {
	position: absolute;
	top: 0;
	right: 20px;
}

.character-div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


#answersentence {				
	display: inline-block;
	margin: 100px auto;
	padding: 10px;
}

#previous-sentences-div {
	margin: 10px auto;
	background-color: white;
	font-size: 28px;
	text-align: left;
	color: #4286f4;
	position: absolute;
	top: 0;
	display: none;
}

#word-div-container, #undo-container {
	width: 100%;
	text-align: center;
	background-color: #69c4db;
	padding-top: 10px;
}

.word-div {
	height: 80px;
	padding: 0 15px;
	min-width: 50px;
	border-radius: 40px;
	text-align: center;
	font-size: 32px;
	line-height: 80px;
	display: inline-block;
	background-color: white;
}

.word-div:hover {
	background-color: lightblue;
	cursor: pointer;
}


#skip-button {
	position: static;
	margin-top: 20px;
	display: inline-block;
}


.row {
	display: flex;
 	justify-content: center;
 	position: relative;
 	width: 100%;
}

#popup-explanation {
	visibility: hidden;
	font-size: 26px;
	font-family: sans-serif;
	width: 60%;
	text-align: center;
}

.launcher-button {
	border: solid white 1px;
	width: 150px;
	display: inline-block;
	border-radius: 50px;
	margin: 0 10px;
	font-size: .8em;
	padding: 5px;
}

#quickstart-button {
	width: 290px;
}

#save-button{
	width: 320px;
}



.launcher-button:hover {
	cursor: pointer;
	background-color: white;
	color: lightblue;
	font-weight: bold;
}


#status-bar {
	height: 110px;
	padding: 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	text-align: center;
}

.small-box {
	height: 50px;
	min-width: 60px;
	padding: 0 10px;
	border-radius: 25px;
	background-color: white;
	font-size: .7em;
	line-height: 50px;
	color: #3291a8;
}

#score-box, #timer, #quit-button, #undo-button {
	display: inline-block;
	margin: 5px 20px;
}

#quit-button, #undo-button {
	background-color: orange;
	color: white;
}
#quit-button:hover, #undo-button:hover {
	background-color: white;
	color: orange;
	cursor: pointer;
}

#progress-box-outer {
  border-radius: 25px;
  background-color: white;
  width: 60vw;
  height: 50px;
  text-align: center;
  font-family: sans-serif;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: green;
  position: relative;
  display: block;
  margin: 0 auto;
}

#progress-box-inner {
  background-color: lightgreen;
  border-radius: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 60%;
  display: inline-block;
}


.reset-button{
	display: none;
	position: absolute;
	bottom: 30px;
	font-size: .5em;
}

#main-menu-button{
	right: 20%;
}

#try-again-button {
	left: 20%;
}

.game-button {
	height: 60px;
	border-radius: 40px;
	line-height: 60px;
	width: 150px;
	padding: 10px;
	background-color: orange;
	color: white;
	border: none;
	font-size: .7em;
}

.game-button:hover {
	cursor: pointer;
	color: orange;
	background-color: white;
}

#game-over {
	visibility: hidden;
	width: 100%;
	height: 120px;
	position: absolute;
	bottom: 0;
	background-color: red;
	color: white;
	font-size: 40px;
	text-align: center;
	line-height: 120px;
}

.screen {
	background-color: #69c4db;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 120;
	text-align: center;
}



/* desktop screen */
@media only screen and (min-width: 800px)  {   




}

/* mobile screen */
@media only screen and (max-width: 800px) {


	#start-text {
		margin-top: 15px;
	}

	#settings-area {
		display: block;
	}

	.settings-box {
		font-size: 14px;
		display: block;
		margin-top: 10px;
	}

	.row {
		margin: 5px 0;
	}

	#quickstart-button {
		display: none;
	}

	.launcher-button {
		width: 40vw;
		font-size: .5em;
		margin-bottom: 20px;
	}

	#start-icon {
		margin-top: 15px;
	}

	#start-button {
		padding-top: 15px;
		font-size: .6em;
	}

	#save-button{
		width: 40vw;
	}

	#paste-div, #paste-input {
		width: 100%;
	}

	#popup-explanation {
		display: none;
	}

	#birdpic-mobile {
		display: inline-block;
	}
	#birdpic-desktop {
		display: none;
	}
	#subtitle {
		width: 300px;
	}

	#challenges-container {
		text-align: center;
		margin-bottom: 20px;
	}

	.challenge {
		width: 38vw;
		height: 90px;
		border: none;
		padding: 10px 5px;
		margin: 5px;
	}

	.word-div {
		height: 40px;
		padding: 0 5px;
		border-radius: 30px;
		font-size: 24px;
		line-height: 40px;
	}

	.small-word-div {
		height: 35px;
		padding: 0 5px;
		border-radius: 30px;
		font-size: 16px;
		line-height: 35px;	
	}

	#answersentence {
		margin: 10px auto;
		text-align: left;
		padding: 3px;
	}

	#message {
		color: red;
		background-color: #fcf403;
		height: 80px;
		line-height: 80px;
		font-size: 40px;
		width: 200px;
		border: solid red 3px;
		border-radius: 50%;
	}

	#undo-container {
		padding: 0;
		height: 60px;
	}

	#skip-button {
		position: static;
		margin-top: 5px;
		display: inline-block;
	}

	.game-button {
		height: 30px;
		width: 100px;
		line-height: 30px;
		padding: 5px;
	}

	.victory-image-container{
		position: absolute;
		top: 75px;
		left: 0px;
		z-index: 1;
		text-align: center;
	}

	.victory-image-div {
		height: 200px;
		width: 200px;
		display: inline-block;
		margin: 0 auto;

	}

	h1, h2, br {
		line-height: 0;
	}






#status-bar {
	height: 50px;
	padding: 0 0;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	background-color: #3291a8;
	text-align: center;
  	display: inline-block;
  	margin: 0 0;
}

.small-box {
	height: 25px;
	padding: 0 0;
	border-radius: 25px;
	background-color: white;
	font-size: 14px;
	line-height: 25px;
}

#score-box, #timer, #quit-button, #undo-button {
	display: inline-block;
	margin: 0 0;
	vertical-align: top;
	min-width: 70px;
	font-weight: bold;
}


#progress-box-outer {
  border-radius: 25px;
  background-color: white;
  width: 100vw;
  height: 25px;
  text-align: center;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  color: green;
  position: relative;
  display: block;
  vertical-align: top;
  margin: 0 0;
}

#progress-box-inner {
  background-color: lightgreen;
  border-radius: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 60%;
  display: inline-block;
  margin: 0 0;
}


}